<div class="m-12 border-2 border-slate-700">
  <h2 class="block text-lg p-6 mb-6 font-bold bg-slate-700 text-neutral-50">Log in</h2>

  <form class="block m-12" id="login-form">
    <div class="mb-3">
      <label class="block p-0 font-semibold text-sm mb-1" for="username-login">Username</label>
      <input class="text-sm p-2 pl-3 rounded-lg w-full border border-gray-300 focus:outline-sky-600" type="text" id="username-login" placeholder="John101" />
    </div>
    <div class="mb-3">
      <label class="block p-0 font-semibold text-sm mb-1" for="password-login">Password</label>
      <input class="text-sm p-2 pl-3 rounded-lg w-full border border-gray-300 focus:outline-sky-600" type="password" id="password-login" placeholder="Password" />
    </div>
    <div class="mt-6">
      <button class="bg-slate-700 text-neutral-50 font-semibold w-full p-2 pl-6 pr-6 rounded-lg shadow-lg" type="submit">Login</button>
    </div>

    <a href="/signup" class="block text-sky-700 mt-3">Sign up instead</a>
  </form>
</div>

<script src="./js/login.js"></script>
